<section class="hero-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-30 auto-y">
                <div class="hero-section__left">
                    <h1>Nice to meet you! <br>
                        I'm <span>Joydip Paul</span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ullam aliquid temporibus expedita
                        pariatur ea
                        rerum mollitia a perferendis illo.</p>
                    <a href="">Contact me</a>
                </div>
            </div>
            <div class="col-md-6 pb-3">
                <div class="hero-section__right">
                    <figure>
                        <img src="assets/images/demo.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>