@use 'variables' as *;
@use 'mixins' as *;

.hero {
    background-color: $primaryColor;
    height: 100vh;
    background: url('../../../../../assets/images/bgg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

    &-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            font-size: 5em;
            margin-bottom: 16px;
            font-weight: 700;
        }

        h2 {
            font-size: 26px;
            margin-bottom: 16px;
            font-weight: 400;
            letter-spacing: 1px;

            span {
                color: $secondaryColor;
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 0;

            li {
                margin-right: 1em;

                img {
                    width: 20px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include breakpoint-max(991px) {
            h1 {
                font-size: 3em;
            }
        }

        @include breakpoint-max (575px) {
            width: 100%;
            text-align: center;

            h1 {
                font-size: 2em;
            }

            h2 {
                font-size: 16px;
            }

            ul {
                justify-content: center;
            }
        }
    }
}