<!-- <section class="hero">
    <video loop muted autoplay playsinline>
        <source src="assets/images/Homepage-Hero.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <div class="hero-content">
            <h1>Joydip Paul</h1>
            <h2>Web Developer</h2>
            <ul>
                <li><a href=""><img src="assets/images/github-icon.svg" alt=""></a></li>
                <li><a href=""><img src="assets/images/in.svg" alt=""></a></li>
                <li><a href="https://www.facebook.com/joydippaul97"><img src="assets/images/fb.svg" alt=""></a></li>
                <li><a href=""><img src="assets/images/yt.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</section> -->

<section class="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-content">
                <div class="hero-content__left">
                    <img src="assets/images/wave.png" alt="">
                    <h1>Front-End Web Developer</h1>
                    <p>Hi, I'm Joydip paul. A passionate Front-end Web Developer from Bangladesh 📍</p>
                    <ul>
                        <li><a href=""><i class="fa-brands fa-github"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="hero-content__right">
                    <!-- <figure>
                        <img src="assets/images/hero-skillset.jpg" alt="">
                    </figure> -->
                    <div class="skills">
                        <div class="skills-each">
                            <div class="skills-each__box html">
                                <div class="content">
                                    <h2>HTML</h2>
                                    <p>Hypertext Markup Language</p>
                                </div>
                                <div class="icon">
                                    <i class="fa-brands fa-html5"></i>
                                </div>
                            </div>
                        </div>
                        <div class="skills-each">
                            <div class="skills-each__box css">
                                <div class="content">
                                    <h2>CSS</h2>
                                    <p>Hypertext Markup Language</p>
                                </div>
                                <div class="icon">
                                    <i class="fa-brands fa-css3"></i>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <div class="center__box">
                                <h2>SKILLS</h2>
                            </div>
                        </div>
                        <div class="skills-each">
                            <div class="skills-each__box javascript">
                                <div class="icon">
                                    <i class="fa-brands fa-js"></i>
                                </div>
                                <div class="content">
                                    <h2>JAVASCRIPT</h2>
                                    <p>Hypertext Markup Language</p>
                                </div>
                            </div>
                        </div>
                        <div class="skills-each">
                            <div class="skills-each__box angular">
                                <div class="icon">
                                    <i class="fa-brands fa-angular"></i>
                                </div>
                                <div class="content">
                                    <h2>ANGULAR</h2>
                                    <p>Hypertext Markup Language</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>