<div class="product-card">
  <div class="product-card__thumb">
    <figure>
      <img
        src="https://m.media-amazon.com/images/I/51bpBK6rs8L._AC_SX385_.jpg"
        alt=""
      />
    </figure>
  </div>
  <div class="product-card__content">
    <div class="product-card__content--header">
      <h3>Jexy Jacket</h3>
      <h4>36$</h4>
    </div>
    <div class="product-card__content--body">
      <p>Lorem ipsum dolor sit amet Lorem is ipsum dolor.</p>
    </div>
    <div class="product-card__content--footer">
      <button>Add to cart</button>
    </div>
  </div>
</div>

<section class="hero">
  <div class="container">
    <div class="hero-inner">
      <div class="hero-content">
        <div class="hero-content__left">
          <img src="assets/images/wave.png" alt="" />
          <h1>Front-End Web Developer</h1>
          <p>
            Hi, I'm Joydip paul. A passionate Front-end Web Developer from
            Bangladesh 📍
          </p>
          <ul>
            <li>
              <a href="https://github.com/joydip-paul"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/joydip-paul-90b447190/"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="hero-content__right">
          <figure>
            <img src="assets/images/jd-animation.gif" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
