<section class="hero">
  <div class="container">
    <div class="hero-inner">
      <div class="hero-content">
        <div class="hero-content__left">
          <img src="assets/images/wave.png" alt="" />
          <h1>Front-End Web Developer</h1>
          <p>
            Hi, I'm Joydip paul. A passionate Front-end Web Developer from
            Bangladesh 📍
          </p>
          <ul>
            <li>
              <a href="https://github.com/joydip-paul"
                ><i class="fa-brands fa-github"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/joydip-paul-90b447190/"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="hero-content__right">
          <figure>
            <img src="assets/images/me.gif" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
