<header class="header">
  <div class="container">
    <div class="header-inner">
      <div class="header-inner__left">
        <div class="logo">
          <a href="mailto:developerjoydip@gmail.com">
            <i class="fa-regular fa-envelope"></i>
            developerjoydip@gmail.com
          </a>
        </div>
      </div>
      <div class="header-inner__right">
        <a
          href="https://www.linkedin.com/in/joydip-paul-90b447190/overlay/1635527630525/single-media-viewer/?profileId=ACoAACzqaFsBBTgeruE685W5nSBjKyr7IFnRZls"
        >
          <i class="fa-solid fa-download"></i>
          <span>Download</span>-Cv
        </a>
      </div>
    </div>
  </div>
</header>
