@use 'variables' as *;
@use 'mixins' as *;

.header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        &__left {
            .logo {
                a {
                    color: #fff;
                    cursor: pointer;

                    img {
                        width: 20px;
                    }
                }
            }
        }

        &__right {

            a {
                text-decoration: none;
                color: #fff;
                text-transform: capitalize;
                display: flex;
                align-items: center;

                img {
                    width: 20px;
                    margin-right: 5px;
                    line-height: 1;
                }
            }
        }
    }
}