<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-inner__left">
                <div class="logo">
                    <a>
                        <i class="fa-regular fa-envelope"></i>
                        developerjoydip@gmail.com
                    </a>
                </div>
            </div>
            <div class="header-inner__right">
                <a href="">
                    <i class="fa-solid fa-download"></i>
                    <span>Download</span>-Cv
                </a>
            </div>
        </div>
    </div>
</header>