<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-inner__left">
                <div class="logo">
                    <h4><img src="assets/images/linked-in.svg" alt=""></h4>
                </div>
            </div>
            <div class="header-inner__right">
                <ul>
                    <li><a href=""><img src="assets/images/github.svg" alt=""></a></li>
                    <li><a href=""><img src="assets/images/linkedin.svg" alt=""></a></li>
                    <li><a href=""><img src="assets/images/facebook.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>