<section class="about-me pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-30">
                <div class="about-me__left">
                    <h2>About Me</h2>
                    <h3>Expertise in [HTML] [SCSS] [JAVASCRIPT] [ANGULAR]</h3>
                    <p>Hello, This is Joydip Paul from Bangladesh. I have pursued a B.Sc. in computer science. At this
                        moment in time, I am working as a web designer at yotech.ltd. In my leisure period usually, I do
                        painting and sketching. I
                        never
                        give up until I get something right and, I am a lifetime learner.</p>
                    <button class="main-btn draw-border">Hire Me</button>
                </div>
            </div>
            <div class="col-md-6 pb-30">
                <div class="about-me__right">
                    <figure>
                        <img src="assets/images/me.gif" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>