<section class="about-me pt-100 pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 pb-30">
        <div class="about-me__left">
          <h2>About Me</h2>
          <h3>Expertise in [HTML] [SCSS] [JAVASCRIPT] [ANGULAR]</h3>
          <p>
            Hello, This is Joydip Paul from Bangladesh. I have pursued a B.Sc.
            in computer science. At this moment in time, I am working as a web
            designer at yotech.ltd. In my leisure period usually, I do painting
            and sketching. I never give up until I get something right and, I am
            a lifetime learner.
          </p>
          <button class="main-btn draw-border">Hire Me</button>
        </div>
      </div>
      <div class="col-lg-6 pb-30">
        <div class="about-me__right">
          <div class="skills">
            <div class="skills-each">
              <div class="skills-each__box html">
                <div class="content">
                  <h2>HTML</h2>
                  <p>Hypertext Markup Language</p>
                </div>
                <div class="icon">
                  <i class="fa-brands fa-html5"></i>
                </div>
              </div>
            </div>
            <div class="skills-each">
              <div class="skills-each__box css">
                <div class="content">
                  <h2>CSS</h2>
                  <p>Cascading Style Sheets</p>
                </div>
                <div class="icon">
                  <i class="fa-brands fa-css3"></i>
                </div>
              </div>
            </div>
            <div class="center">
              <div class="center__box">
                <h2>SKILLS</h2>
              </div>
            </div>
            <div class="skills-each">
              <div class="skills-each__box javascript">
                <div class="icon">
                  <i class="fa-brands fa-js"></i>
                </div>
                <div class="content">
                  <h2>JAVASCRIPT</h2>
                  <p>JavaScript is a scripting language</p>
                </div>
              </div>
            </div>
            <div class="skills-each">
              <div class="skills-each__box angular">
                <div class="icon">
                  <i class="fa-brands fa-angular"></i>
                </div>
                <div class="content">
                  <h2>ANGULAR</h2>
                  <p>JavaScript front-end framework</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
