<section class="blog pb-70">
    <div class="container">
        <div class="title-area pb-50">
            <h2>Blog</h2>
            <h4>These are some of my recent blogs</h4>
        </div>
        <div class="row">
            <div class="col-md-6 pb-30">
                <a href="https://dev.to/joydippaul/liniyyaar-saarc-linear-search-in-jaabhaaskriptt-4gb3" target="_blank"
                    class="blog-each">
                    <figure>
                        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--yQd3WcUz--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/97fz3oqhrz2ny47izl3g.png"
                            alt="">
                    </figure>
                    <div class="blog-each__content">
                        <div class="blog-each__content--left">
                            <h2>Linear Algorithm</h2>
                            <p>লিনিয়ার সার্চ (Linear Search) ইন জাভাস্ক্রিপ্ট</p>
                        </div>
                        <button><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </a>
            </div>
            <div class="col-md-6 pb-30">
                <a href="https://dev.to/joydippaul/bem-pddhti-bem-methodology-26e3" class="blog-each" target="_blank">
                    <figure>
                        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--DupK1GnT--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/og0vsvhj222gzrvqjmzc.jpg"
                            alt="">
                    </figure>
                    <div class="blog-each__content">
                        <div class="blog-each__content--left">
                            <h2>BEM methodology</h2>
                            <p>বেম পদ্ধতি (BEM methodology)</p>
                        </div>
                        <button><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>