@use 'variables' as *;
@use 'mixins' as *;

.projects {
    background-color: #212121;
    position: relative;
    z-index: 1;

    // &:before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../../../../../assets/images/project-bg.png');
    //     background-size: cover;
    //     object-fit: cover;
    //     opacity: 0.2;
    //     z-index: -1;
    // }

    .title-area {
        h2 {
            font-family: 'Orbitron', sans-serif;
            margin-bottom: 20px;
        }
    }

    &__each {
        transition: 1s;

        a {
            text-decoration: none;
            position: relative;
            transition: .3s;
            display: block;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }

            &:hover {

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #161616;
                }

                span {
                    opacity: 1;
                    color: $secondaryColor;
                }
            }

            figure {
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        h2 {
            font-size: 1.4em;
        }

        p {
            font-size: 1.2em;
            color: $textColor;
        }

        h4 {
            font-size: 14px;
            color: #787878;
        }
    }
}