@use 'variables' as *;
@use 'mixins' as *;

// .projects {
//     background-color: #212121;
//     position: relative;
//     z-index: 1;

//     .title-area {
//         h2 {
//             font-family: 'Orbitron', sans-serif;
//             margin-bottom: 20px;
//         }
//     }

//     &__each {
//         transition: 1s;

//         a {
//             text-decoration: none;
//             position: relative;
//             transition: .3s;
//             display: block;

//             span {
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//                 opacity: 0;
//             }

//             &:hover {

//                 &:before {
//                     content: "";
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     background-color: #161616;
//                 }

//                 span {
//                     opacity: 1;
//                     color: $secondaryColor;
//                 }
//             }

//             figure {
//                 height: 200px;

//                 img {
//                     width: 100%;
//                     height: 100%;
//                     object-fit: contain;
//                 }
//             }
//         }

//         h2 {
//             font-size: 1.4em;
//         }

//         p {
//             font-size: 1.2em;
//             color: $textColor;
//         }

//         h4 {
//             font-size: 14px;
//             color: #787878;
//         }
//     }
// }


.project-card {
    .title-area {
                h2 {
                    font-family: 'Orbitron', sans-serif;
                    margin-bottom: 20px;
                    font-weight: 600;
                }
            }
    &__each {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        background-color: #fff;
        border-radius: 1.5rem;

        &--left {
            background-color: hsla(0, 0%, 46%, .2);
            border-radius: 1.5rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            height: 25rem;
            overflow: hidden;
            flex: 50%;

            figure {
                width: 100%;
                img {
                    width: 100%;
                    transition: transform 10s ease-in-out 0s;
                }
                &:hover {
                        img {
                            transform: translateY(-100%) translateY(25rem);
                        }
                }
            }

        }

        &--right {
            padding: 30px;
            text-align: center;
            flex: 50%;
            .lang {
                display: flex;
                justify-content: center;
                h2 {
                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(0,0,0,.1);
                    padding: 10px;
                    margin-right: 10px;
                    font-size: 1.2em;
                }
            }
            .live-code {
                display: flex;
                justify-content: center;
            }
        }


        @media screen and (max-width: 991px) {
            flex-direction: column;
            height: 40rem;
            &--left {
                height: 5rem;
            }

            &--right {

            }
        }

    }
}






