<section class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-inner__left">
        <h2>Joydip Paul</h2>
      </div>
      <div class="footer-inner__right">
        <ul>
          <li><a href="https://www.facebook.com/joydippaul97">Facebook</a></li>
          <li>
            <a href="https://www.instagram.com/joydip_jishu/">Instagram</a>
          </li>
          <li><a href="https://www.youtube.com/@weblearner9761">Youtube</a></li>
          <li>
            <a href="https://stackoverflow.com/users/12241962/joydip-paul"
              >Stackoverflow</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
