:root,
:root.light {
  --section-bg: #fff;
  --theme-bg: #f1f3f6;
  --text-color: #212121;
  --paragraph: #787878;
  --secondary-color: #be3455;
  --btn-bg: #212121;
  --btn-color: #fff;
  --btn-bg-hover: #be3455;
  --btn-color-hover: #fff;
  --box-shadow: 1px 2px 10px #000;
}

:root.dark {
  --section-bg: #000;
  --theme-bg: #161617;
  --text-color: #fff;
  --paragraph: #787878;
  --secondary-color: #be3455;
  --btn-bg: #fff;
  --btn-color: #000;
  --btn-bg-hover: #be3455;
  --btn-color-hover: #fff;
  --box-shadow: 1px 2px 10px #000;
}
