$primaryColor: #161616;
$secondaryColor: #be3455;
$textColor: #666666;

:root,
:root.light {
  //   --bg-white: #fff;
  //   --bg-grey: #f3f3f5;
  //   --text-color: #212121;
  //   --paragraph: #787878;
  //   --theme-color: #fc0;

  --theme-bg: #0d0c1d;
  --bg-grey: #070710;
  --text-color: #fff;
  --paragraph: #9e9e9e;
  --theme-color: #f1dac4;
  --black: #070710;
}

:root.dark {
  //   --bg-white: #212121;
  //   --bg-grey: #212121;
  //   --text-color: #fff;
  //   --paragraph: #acacac;
  //   --theme-color: #fc0;

  --theme-bg: #fff;
  --bg-grey: #f3f3f5;
  --text-color: #212121;
  --paragraph: #787878;
  --theme-color: #fc0;
  --black: #070710;
}

body {
  background-color: var(--theme-bg);
  color: var(--text-color);
}
