<section class="contact pb-100">
  <div class="container">
    <div class="title-area">
      <h2>
        Love to hear from you,<br />
        Get in touch
      </h2>
    </div>

    <div *ngIf="showDiv">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam,
        inventore laboriosam architecto praesentium in sunt dolores? Distinctio
        molestiae quas totam incidunt nobis. Consequatur neque quia eligendi
        facilis ea maxime velit.
      </p>
    </div>

    <form
      class="contact-form"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit(contactForm.value)"
    >
      <div class="inp-flex">
        <div class="contact-form__each">
          <label>Your Name</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter first name"
            formControlName="name"
            [(ngModel)]="username"
            [ngClass]="{
              'is-invalid': submitted && contactForm.controls.name.errors
            }"
          />
          <div
            *ngIf="submitted && contactForm.controls.name.errors"
            class="error-text"
          >
            Name is required
          </div>
        </div>
        <div class="contact-form__each">
          <label>Email address</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && contactForm.controls.email.errors
            }"
          />
          <div
            *ngIf="submitted && contactForm.controls.email.errors"
            class="error-text"
          >
            Email is required
          </div>
        </div>
      </div>
      <div class="contact-form__each">
        <label>Your Message</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          placeholder="Your message"
          rows="6"
          formControlName="message"
          [ngClass]="{
            'is-invalid': submitted && contactForm.controls.message.errors
          }"
        ></textarea>
        <div
          *ngIf="submitted && contactForm.controls.message.errors"
          class="error-text"
        >
          Message is required
        </div>
      </div>
      <div class="submit-btn">
        <button type="submit" class="main-btn">
          Just Send <i class="fa-solid fa-arrow-right"></i>
        </button>
        <!-- *ngIf="isSuccess" -->
        <div class="success-message" [ngClass]="{ active: isSuccess }">
          <div class="icon">
            <i class="fa-solid fa-check"></i>
          </div>
          <div class="content">
            <h2>Hey, {{ this.username }}</h2>
            <p>Your submission is successfull & an email has sent.</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
