<section class="contact pb-100">
  <div class="container">
    <div class="title-area">
      <h2>
        Love to hear from you,<br />
        Get in touch
      </h2>
    </div>
    <form class="contact-form">
      <div class="inp-flex">
        <div class="contact-form__each">
          <label>Your Name</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter first name"
          />
        </div>
        <div class="contact-form__each">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="Enter email" />
        </div>
      </div>
      <div class="contact-form__each">
        <label>Your Message</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          placeholder="Your message"
          rows="6"
        ></textarea>
      </div>
      <div class="submit-btn">
        <button type="submit" class="main-btn">
          Just Send <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</section>
