<section class="contact pb-100">
  <div class="container">
    <div class="title-area">
      <h2>
        Love to hear from you,<br />
        Get in touch
      </h2>
    </div>
    <form
      class="contact-form"
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="inp-flex">
        <div class="contact-form__each">
          <label>Your Name</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter first name"
            formControlName="name"
            [ngClass]="{
              'is-invalid': submitted && contactForm.controls.name.errors
            }"
          />
          <div
            *ngIf="submitted && contactForm.controls.name.errors"
            class="error-text"
          >
            Name is required
          </div>
        </div>
        <div class="contact-form__each">
          <label>Email address</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter email"
            formControlName="email"
            [ngClass]="{
              'is-invalid': submitted && contactForm.controls.email.errors
            }"
          />
          <div
            *ngIf="submitted && contactForm.controls.email.errors"
            class="error-text"
          >
            Email is required
          </div>
        </div>
      </div>
      <div class="contact-form__each">
        <label>Your Message</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          placeholder="Your message"
          rows="6"
          formControlName="message"
          [ngClass]="{
            'is-invalid': submitted && contactForm.controls.message.errors
          }"
        ></textarea>
        <div
          *ngIf="submitted && contactForm.controls.message.errors"
          class="error-text"
        >
          Message is required
        </div>
      </div>
      <div class="submit-btn">
        <button type="submit" class="main-btn">
          Just Send <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</section>
